@media (min-width: 540px) {
    header {
        display: flex;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
    }

    .navigation li {
        display: grid;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    .aboutme {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .courseslist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }

    .courseslist button {
        width: 100%;
        gap: 10px;
    }
}